:root {
  /* Color Style Variables */
  --primary-color: #AA2DAA;
  --text-color: #0d0d0d;
  --text-white: #fff;

  /* Font Style Variables */
  --default-font: 1rem;
  --large-font: 1.5rem;
  --small-font: 0.875rem;
  --medium-font: 1.15rem;
  --font-fam: 'Mulish', sans-serif;

  /* Shadow variables */
  --shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 1%),
  0px 1px 10px 0px rgb(0 0 0 / 1%)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-fam);
  overflow-x: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10% 20px ;
  height: 97px;
  width: 100vw;
  box-shadow: var(--shadow);
  background-color: var(--primary-color);
  position: fixed;
}

.header > img {
  cursor: pointer;
}

.nav_bar > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0 8rem 0 1rem ;
}

.nav_bar > ul > li {
  list-style: none;
}

.nav_bar > ul > li > a {
  text-decoration: none;
  font-weight: 600;
  color: var(--text-white);
}

.nav_bar > ul > li > a:hover {
  text-decoration: underline;
}

.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13% 10% 7%;
}
.hero-text > h1, #about > h2{
  font-weight: 800;
  font-size: 60px;
}
.hero-text p {
  font-size: 20px;
  line-height: 40px;
  margin-top: 20px;
}
.hero-img{
  width: 500px;
  height: 500px;
}
/* About section */
#about {
  background-image: url(./images/wtf-group-img.png);
  text-align: center;
  color: var(--text-white);
  padding: 5% 10%;
}
#about p{
  text-align: justify;
  margin: 50px 0;
}
#contact{
  padding: 5% 10%;
  display: flex;
  justify-content: space-between;
}
#contact > div >ul {
  list-style: none;
}
#contact > div >ul li{
  margin: 20px 0;
}
#contact > div >ul li a{
  text-decoration: none;
color: var(--text-color);
}

footer > h6 {
  text-align: center;
  padding: 20px;
}

/* -------STYLING FOR PRODUCTS------- */

.main_product {
  margin: 40px;
}

.text_product > h2 {
  color: purple;
  margin-bottom: 10px;
}

.text_product > h3 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 80px;
}

.product_images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  padding: 20px;
  justify-content: center;
  border-radius: 5px;
  margin: 0 20px;
}

#product-image {
    width: 130px;
    height: 150px;
    background-color: #EEEEEE;
}

.product_container > img {
  width: 324px;
  height: 324px;
  object-fit: cover;
}

.product-info {
  background-color: #eeeeee;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#load-more {
  margin-top: 20px;
  background-color: rgba(16, 91, 229, 0.7);
  appearance: none;
  outline: none;
  border: none;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Mulish', sans-serif;
}

#load-more:hover {
  background-color: rgba(16, 91, 229, 0.86);
}

.btn-container {
  text-align: center;
}

#product-title {
  font-size: 20px;
  font-weight: 700;
  padding: 20px 0;
}

#product-description {
  font-size: 14px;
  font-weight: 400;
  /* text-align: justify; */
  line-height: 22px;
  padding: 20px 0;
}

#product-price {
  font-size: 24px;
  font-weight: 800;
  padding: 20px 0;
}

#product-rating {
  font-size: 12px;
  padding: 20px 0;
}

#reviews {
  font-size: 12px;
  color: #696464;
  display: inline-block;
}

.category {
    cursor: pointer;
    text-transform: capitalize;
}

.category:hover {
    text-decoration: underline;
}

.categories-container {
    display: flex;
    gap: 2rem;
    margin: 1rem 0 4rem;
    justify-content: center;
}

@media (max-width:768px){
  .header{
    padding: 20px 5% 20px ;
  }
  .nav_bar > ul {
    gap: 10px;
    padding: 0 0 0 1rem ;
  }
  .hero{
    padding: 30% 5% 7%;
    flex-direction: column-reverse;
    text-align: center;
  }
  .hero-img{
    width: 100%;
    height: 100%;
  }
  .hero-text > h1, #about > h2{
    font-size: 32px;
  }
  .hero-text p {
    font-size: 16px;
    line-height: 20px;
  }
  #about {
    padding: 5%;
  }

  #contact{
    padding: 5%;
    flex-direction: column;
  }
}