:root {
  /* Color Style Variables */
  --primary-color: #AA2DAA;
  --text-color: #0d0d0d;
  --text-white: #fff;
  --load-more: rgb(170, 45, 170, 0.7);
  --load-more-hover: rgb(170, 45, 170, 0.86);

  /* Font Style Variables */
  --default-font: 1rem;
  --large-font: 1.5rem;
  --small-font: 0.875rem;
  --medium-font: 1.15rem;
  --font-fam: 'Mulish', sans-serif;

  /* Shadow variables */
  --shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 1%),
  0px 1px 10px 0px rgb(0 0 0 / 1%)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-fam);
  overflow-x: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  height: 97px;
  width: 100vw;
  box-shadow: var(--shadow);
  background-color: var(--primary-color);
  position: fixed;
}

.mobile {
  display: none;
}

.header > img {
  cursor: pointer;
}

.nav_bar > ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
  padding-left:  1rem ;
}

.nav_bar > ul > li {
  list-style: none;
}

.nav_bar > ul > li > a {
  text-decoration: none;
  font-weight: 600;
  color: var(--text-white);
  transform: translateX(0);
}

/* .nav_bar > ul > li > a.active {
  color: #431776;
  font-weight: 900;
  text-decoration: underline;
  font-size: 18px;
  scroll-behavior: smooth;
} */

.nav_bar > ul > li > a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: white;
  transition: width 0.3s ease;
}

.nav_bar > ul > li > a:hover:after {
  width: 100%;
}

.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4% 10% 7%;
}
.hero-text > h1, #about > h2{
  font-weight: 800;
  font-size: 60px;
}
.hero-text p {
  font-size: 20px;
  line-height: 40px;
  margin-top: 20px;
}
.hero-img{
  width: 500px;
  height: 500px;
}
/* About section */
#about {
  background-image: url(./images/wtf-group-img.png);
  text-align: center;
  color: var(--text-white);
  padding: 5% 10%;
}
#about p{
  text-align: justify;
  margin: 50px 0;
}
#contact{
  padding: 5% 10%;
  display: flex;
  justify-content: space-between;
}
#contact > div >ul {
  list-style: none;
}
#contact > div >ul li{
  margin: 20px 0;
}
#contact > div >ul li a{
  text-decoration: none;
color: var(--text-color);
}

footer > h6 {
  text-align: center;
  padding: 20px;
}

/* -------STYLING FOR PRODUCTS------- */

.main_product {
  padding: 12% 0 0;
}

.text_product {
  text-align: center;
}

.text_product > h2 {
  color: var(--primary-color);
  margin-bottom: 10px;
  font-weight: 800;
}

.text_product > h3 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
}

.product_images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  padding: 45px 80px;
  justify-content: center;
  /* border-radius: 5px; */
  background-color: var(--primary-color);
  /* margin: 0 20px; */
}

#product-image {
    width: 170px;
    height: 150px;
    background-color: #EEEEEE;
}

.product_container > img {
  width: 324px;
  height: 324px;
  object-fit: cover;
}

.product-info {
  background-color: #eeeeee;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.product-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  grid-column: 1 / -1;
}

.loader-container {
  text-align: center;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #431776;;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 400px */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#load-more {
  margin: 20px 0;
  background-color: var(--load-more);
  appearance: none;
  outline: none;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: 'Mulish', sans-serif;
}

#load-more:hover {
  background-color: var(--load-more-hover);
}

.btn-container {
  text-align: center;
}

#product-title {
  font-size: 20px;
  font-weight: 700;
  padding-top: 10px;
  /* padding: 20px 0; */
}

#product-description {
  font-size: 14px;
  font-weight: 400;
  /* height: 400px; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 22px;
  padding: 20px 0;
}

#product-price {
  font-size: 24px;
  font-weight: 800;
  padding: 20px 0;
}

#product-rating {
  font-size: 12px;
  padding: 20px 0;
}

#reviews {
  font-size: 12px;
  color: #696464;
  display: inline-block;
}

.category {
    cursor: pointer;
    text-transform: capitalize;
}

.category:hover {
    text-decoration: underline;
}

.categories-container {
    display: flex;
    gap: 2rem;
    margin: 1rem 0 4rem;
    justify-content: center;
}

.hero-text > p {
  width: 67%;
}

@media (max-width:768px){
  .header{
    padding: 20px 5% 20px ;
  }
  .nav_bar > ul {
    gap: 20px;
    padding: 0 0 0 1rem ;
  }
  .hero{
    padding: 30% 5% 7%;
    flex-direction: column-reverse;
    text-align: center;
  }
  .hero-img{
    width: 75%;
    height: 100%;
    margin-top: -70px;
  }
  .hero-text > h1, #about > h2{
    font-size: 32px;
  }
  .hero-text p {
    font-size: 16px;
    line-height: 20px;
    width: 100%;
  }
  #about {
    padding: 5%;
  }

  #contact{
    padding: 5%;
    flex-direction: column;
  }

}

@media screen and (max-width: 500px) {
   .nav_bar > ul {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .mobile_navbar {
    width: 50vw;
    background-color: #AA2DAA;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 40px 20px 0;
    display: none;
    position: fixed;
    /* height: 100vh; */
  }

  .mobile_navbar > ul {
    flex-direction: column;
    gap: 30px;
  }

  .mobile_navbar > ul > li {
    list-style: none;
  }
  
  .mobile_navbar > ul > li > a {
    text-decoration: none;
    color: white;
    font-weight: 700;
  }

  .mobile_navbar > h3 {
    color: white;
    font-size: 24px;
    position: absolute;
    top: 15px;
    right: 20px;
  }

  .fa-bars {
    color: white;
    font-size: 20px;
  }
  .text_product {
    padding: 15% 5% 0;
  }
  .text_product > h2 {
    margin: 20px;
  }
  
  .text_product > h3 {
    margin-bottom: 20px;
  }
  .categories-container {
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;
    align-items: center;
    justify-content: center;
}
}

@media screen and (max-width: 320px) {
  .hero-img {
    margin: 40px 0 20px;
  }
}